body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
}

h1 {
    text-align: center;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#searchInput {
    width: 80%;
    padding: 10px;
    margin-bottom: 40px;
    font-size: 16px;
    margin: 0 auto;
    
    max-width: 800px; /* Set a maximum width if necessary */
    display: block; /* Ensure it takes full width */
}

#imageContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image {
    width: calc(25% - 20px);
    margin-bottom: 20px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.image img {
    width: 100%;
    height: auto;
    cursor: pointer;
    border-bottom: 2px solid #ddd;
}

.detailsContainer {
    padding: 10px;
    text-align: left;
}


/* CSS */
button {
    background-color: #fff000;
    border-radius: 12px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    transition: 200ms;
    width:max-content; 
    box-sizing: border-box;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  button:not(:disabled):hover,
  button:not(:disabled):focus {
    outline: 0;
    background: #f4e603;
    box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
  }
  
  button:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
  }

.thumbnail {
    width: 10px;
    height: 10px;
}

#buttons{
    display: inline-block; 
}

#bothButtons{
    align-items: center;
    flex-wrap: wrap;
    width: max-content;
    margin: auto;
    padding: 1.5%; 
}


